.profile-container {
	display: flex;
	justify-content: center;
}

.profile {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile .header-row {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile .image-container {
	width: 100%;
	padding: 3rem 0rem 0rem;

	display: flex;
	justify-content: center;

	background-image: url('../../../public/cryptocurrency-coding-digital-blue-background-open-source-blockchain-concept_53876-124644.webp');
	background-size: cover;
}

.image-container-container {
	width: 100%;
	max-width: 1200px;
	padding: 0 1rem;

	display: flex;
	justify-content: flex-start;
}

.profile .profile-image {
	margin-bottom: -2rem;

	height: 15rem;
	width: 15rem;
	border: 0.5rem solid white;
	border-radius: 50%;
}

.profile .title {
	width: 100%;
	max-width: 1200px;
	margin-top: 2rem;
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
}

.profile .title > div:first-child {
	font-size: 1.75rem;
	/* font-weight: 500; */
	font-weight: bold;
}

.profile .title > div:last-child {
	display: flex;
	gap: 1rem;
}

.profile .title-email {
	color: var(--clr-blk-button);
}

.profile .tabs {
	width: 100%;
	max-width: 1200px;

	padding: 0 1rem;

	display: flex;
	gap: 3rem;

	color: var(--clr-grey);
	font-weight: bold;
	/* font-size: 1.25rem; */
}

.profile .tabs span {
	font-weight: normal;
}

.profile .tabs > div {
	cursor: pointer;
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
}

.profile .tabs .underlined {
	color: black;
	border-bottom: 2px solid black;
}

.profile .tabs > div:hover {
	color: black;
	border-bottom: 2px solid black;
}

.profile :is(.likes-row, .accounts-row) {
	width: 100%;
	max-width: 1200px;
	padding: 0 1rem;

	display: flex;
	flex-wrap: wrap;
	/* gap: 1rem; */
}

.likes-row > a {
	width: 50%;
	padding: 0 0.25rem;
	margin-bottom: 0.5rem;

	display: flex;
	flex-direction: column;
}

.likes-row .content {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* box-shadow: rgb(0 0 0 / 8%) 0px 4px 15px; */
	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
}

.liked-coin-item .name {
	width: 100%;
	padding: 0 0.5rem;

	font-weight: bold;
	background: var(--bg-grey);
	border-bottom: 1px solid var(--grey-border);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.liked-coin-item img {
	height: 7.5rem;
	width: 7.5rem;

	margin: 2rem 0;
}

.liked-coin-item .price {
	width: 100%;
	padding: 0 0.5rem;

	display: flex;
	justify-content: space-between;

	border-top: 1px solid var(--grey-border);
}

@media (max-width: 900px) {
	.likes-row > a:nth-child(2n + 1) {
		padding-left: 0;
	}

	.likes-row > a:nth-child(2n + 2) {
		padding-right: 0;
	}
}

@media (min-width: 901px) {
	.likes-row > a {
		width: 20%;
	}

	.likes-row > a:nth-child(5n + 1) {
		padding-left: 0;
	}

	.likes-row > a:nth-child(5n + 5) {
		padding-right: 0;
	}
}
