.profile-container {
	padding-bottom: 1rem;

	display: flex;
	justify-content: center;
}

.profile {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile .header-row {
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile .image-container {
	width: 100%;
	padding: 3rem 0rem 0rem;

	display: flex;
	justify-content: center;

	background-image: url('../../../public/cryptocurrency-coding-digital-blue-background-open-source-blockchain-concept_53876-124644.webp');
	background-size: cover;
}

.image-container-container {
	width: 100%;
	max-width: 1200px;
	padding: 0 1rem;

	display: flex;
	justify-content: flex-start;
}

.profile .profile-image {
	margin-bottom: -2rem;

	height: 15rem;
	width: 15rem;
	border: 0.5rem solid white;
	border-radius: 50%;
}

.profile .title {
	width: 100%;
	max-width: 1200px;
	margin-top: 2rem;
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
}

.profile .title > div:first-child {
	font-size: 1.75rem;
	/* font-weight: 500; */
	font-weight: bold;
}

.profile .title > div:last-child {
	display: flex;
	gap: 1rem;
}

.profile .title-email {
	color: var(--clr-blk-button);
}

.profile .tabs {
	width: 100%;
	max-width: 1200px;

	padding: 0 1rem;

	display: flex;
	gap: 3rem;

	color: var(--clr-grey);
	font-weight: bold;
	/* font-size: 1.25rem; */
}

.profile .tabs span {
	font-weight: normal;
}

.profile .tabs > div {
	cursor: pointer;
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
}

.profile .tabs .underlined {
	color: black;
	border-bottom: 2px solid black;
}

.profile .tabs > div:hover {
	color: black;
	border-bottom: 2px solid black;
}

.profile :is(.likes-row, .accounts-row) {
	width: 100%;
	max-width: 1200px;
	padding: 0 1rem;

	display: flex;
	flex-wrap: wrap;
	/* gap: 1rem; */
}

.likes-row > a {
	width: 100%;
	padding: 0 1rem;
	/* margin-bottom: 0.5rem; */

	display: flex;
	flex-direction: column;
}

.likes-row > a:hover img {
	transform: scale(1.1);
}

.likes-row .content {
	padding: 1rem 0;

	display: flex;
	justify-content: space-between;
	border-top: 1px solid var(--grey-border);
}

.liked-coin-item .title-col {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.liked-coin-item .meta-col {
	text-align: right;
}

.liked-coin-item .meta-col div:first-child {
	font-weight: 500;
}

.liked-coin-name {
	font-weight: 500;
}

.liked-coin-symbol {
	color: var(--clr-grey);
}

:is(.liked-coin-item, .account-item) .name {
	width: 100%;
	padding: 0 0.5rem;

	font-weight: bold;
	background: var(--bg-grey);
	border-bottom: 1px solid var(--grey-border);
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

.liked-coin-item img {
	height: 50px;
	width: 50px;

	transition: all 0.4s ease;
}

.liked-coin-item .price {
	width: 100%;
	padding: 0 0.5rem;

	display: flex;
	justify-content: space-between;

	border-top: 1px solid var(--grey-border);
}

.accounts-row > a {
	width: 50%;
	padding: 0 0.25rem;
	margin-bottom: 0.5rem;

	display: flex;
	flex-direction: column;
}

.accounts-row .content {
	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
}

.accounts-row img {
	height: 7.5rem;
	width: 7.5rem;

	margin: 2rem 0;

	transition: all 0.4s ease;
}

.accounts-row > a:hover img {
	transform: scale(1.1);
}

.account-item .value {
	width: 100%;
	padding: 0 0.5rem;

	display: flex;
	justify-content: space-between;

	border-top: 1px solid var(--grey-border);
}

@media (max-width: 900px) {
	.likes-row > a:first-child .content {
		border-top: none;
	}

	.likes-row > a {
		padding: 0;
	}

	/* .likes-row > a:nth-child(2n + 1) {
		padding-left: 0;
	}

	.likes-row > a:nth-child(2n + 2) {
		padding-right: 0;
	}

	.accounts-row > a:nth-child(2n + 1) {
		padding-left: 0;
	}

	.accounts-row > a:nth-child(2n + 2) {
		padding-right: 0;
	} */
}

@media (min-width: 901px) {
	.likes-row > a {
		width: 33.333%;
	}

	.likes-row > :is(a:nth-child(1), a:nth-child(2), a:nth-child(3)) .content {
		border-top: none;
	}

	.likes-row > a:nth-child(3n + 1) {
		padding-left: 0;
	}

	.likes-row > a:nth-child(3n + 3) {
		padding-right: 0;
	}

	.accounts-row > a {
		width: 20%;
	}

	.accounts-row > a:nth-child(5n + 1) {
		padding-left: 0;
	}

	.accounts-row > a:nth-child(5n + 5) {
		padding-right: 0;
	}
}
