.profile-container {
	display: flex;
	justify-content: center;
}

.profile {
	width: 100%;
	/* padding-top: 1rem; */

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile .header-row {
	width: 100%;
	padding: 1rem 1rem 0;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	border-bottom: 1px solid var(--grey-border);
}

.profile-image {
	height: 5rem;
	width: 5rem;
	padding: 0.25rem;
	margin-bottom: 1rem;

	border: 1px solid var(--clr-grey);
	border-radius: 50%;
}

.profile .title {
	width: 100%;
	/* max-width: 1200px; */
	/* margin-top: 2rem; */
	padding: 0 1rem;

	display: flex;
	flex-direction: column;
}

.profile .title > div:first-child {
	font-size: 1.5rem;
	/* font-weight: 500; */
	font-weight: 500;
}

.profile .title > div:last-child {
	display: flex;
	gap: 1rem;
}

.profile .title-email {
	color: var(--clr-blk-button);
}

.profile .tabs {
	width: 100%;
	/* max-width: 1200px; */

	padding: 0 1rem;

	display: flex;
	gap: 2rem;

	color: var(--clr-grey);
	font-weight: 500;
}

.profile .tabs span {
	font-weight: normal;
}

.profile .tabs > div {
	padding-bottom: 1rem;

	cursor: pointer;
	border-bottom: 2px solid transparent;
	transition: all 0.4s ease;
}

.profile .tabs .underlined {
	color: black;
	border-bottom: 2px solid black;
}

.profile .tabs > div:hover {
	color: black;
	border-bottom: 2px solid black;
}

.profile :is(.likes-row, .accounts-row) {
	width: 100%;
	/* max-width: 1200px; */
	padding: 0 1rem;

	display: flex;
	flex-wrap: wrap;
	/* gap: 1rem; */
}

.likes-row > a {
	width: 100%;
	padding: 0 1rem;
	/* margin-bottom: 0.5rem; */

	display: flex;
	flex-direction: column;
}

.likes-row > a:hover img {
	transform: scale(1.1);
}

.likes-row .content {
	padding: 1rem 0;

	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--grey-border);
}

.liked-coin-item .title-col {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.liked-coin-item .meta-col {
	text-align: right;
}

.liked-coin-item .meta-col div:first-child {
	font-weight: 500;
}

.liked-coin-name {
	font-weight: 500;
}

.liked-coin-symbol {
	color: var(--clr-grey);
}

.liked-coin-item img {
	height: 50px;
	width: 50px;

	transition: all 0.4s ease;
}

.accounts-row > a {
	width: 100%;
	padding: 0 1rem;
}

.accounts-row .content {
	padding: 1rem 0;

	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid var(--grey-border);
}

.account-item .meta-col {
	text-align: right;
}

.account-item .meta-col > div:first-child {
	font-weight: 500;
}

.accounts-row img {
	height: 50px;
	width: 50px;

	transition: all 0.4s ease;
}

.accounts-row > a:hover img {
	transform: scale(1.1);
}

.account-item .title-col {
	display: flex;
	align-items: center;
	gap: 1rem;

	font-weight: 500;
}

@media (max-width: 900px) {
	.likes-row > a:first-child .content {
		border-top: none;
	}

	.likes-row > a {
		padding: 0;
	}

	.accounts-row > a:first-child .content {
		border-top: none;
	}

	.accounts-row > a {
		padding: 0;
	}
}

@media (min-width: 901px) {
	.likes-row > a {
		width: 33.333%;
	}

	/* .likes-row > :is(a:nth-child(1), a:nth-child(2), a:nth-child(3)) .content {
		border-top: none;
	} */

	.likes-row > a:nth-child(3n + 1) {
		padding-left: 0;
	}

	.likes-row > a:nth-child(3n + 3) {
		padding-right: 0;
	}

	.accounts-row > a {
		width: 33.333%;
	}

	/* .accounts-row > :is(a:nth-child(1), a:nth-child(2), a:nth-child(3)) .content {
		border-top: none;
	} */

	.accounts-row > a:nth-child(3n + 1) {
		padding-left: 0;
	}

	.accounts-row > a:nth-child(3n + 3) {
		padding-right: 0;
	}
}
