@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');
@import './Account.css';
@import './CoinListItem.css';
@import './CoinView.css';
@import './Home.css';
@import './SlideButton.css';
@import './Nav.css';
@import './Auth.css';
@import './OrderForm.css';

/* Resets */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	appearance: none;
}

/* Utils */

:root {
	--clr-green: #82d318;
	--alt-green: #cbff00;

	--grey-border: #c7cdd6;
	--clr-grey: #81899d;
	--alt-grey: #7c8499;
	--bg-grey: #fafbfc;
	--grey-hover: #f7f8fa;
	--light-grey: rgb(229, 232, 235);

	--clr-blue: rgb(32, 129, 226);
	--bg-blue: rgb(32, 129, 226, 0.1);

	--clr-blk-button: rgba(4, 17, 29, 0.75);

	--shadow-smallest: 0px 2px 4px rgba(0, 0, 0, 0.1);

	--clr-buy: #44af69;
	--clr-sell: #f8333c;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Ubuntu', sans-serif;
	line-height: 2rem;
	background-color: rgb(250, 250, 250);
}

.container {
	height: calc(100vh - 72px);
	display: flex;
	justify-content: center;
	overflow-y: overlay;
}

.default-col {
	width: 100%;
	max-width: 1200px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5rem;
	font-weight: bold;
}

.header {
	font-size: 2rem;
}

.subheader {
	color: var(--clr-grey);
}

/* Spinner */

.spinner-box {
	margin: auto;
}

.three-quarter-spinner {
	width: 50px;
	height: 50px;
	border: 3px solid var(--clr-blue);
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}
