@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');

/* Resets */

* {
	box-sizing: border-box;
}

html::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	display: block;
	color: #000000;
}

/* Utils */

:root {
	--clr-green: #82d318;
	--alt-green: #cbff00;

	--clr-grey: #81899d;
	--bg-grey: #fafbfc;
	--alt-grey: #7c8499;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Ubuntu', sans-serif;
	/* font-size: 1rem; */
	line-height: 2rem;
}

.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	overflow-y: overlay;
}

.nav-container {
	position: sticky;
	top: 0;
	/* height: 4.5rem; */
	height: 72px;
	width: 100%;

	display: flex;
	justify-content: center;

	background-color: white;
	box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 1200px;
	padding: 0 1rem;

	font-size: 2rem;
	font-weight: bold;
}

.navbar div:nth-child(2) {
	display: flex;
	gap: 1rem;

	font-size: 1.25rem;
	font-weight: normal;
}

.navbar i {
	color: var(--clr-grey);
	font-size: 1.5rem;
	cursor: pointer;
}

.navbar i:hover {
	color: black;
}

.navbar a {
	color: var(--clr-grey);
}

.navbar a:hover {
	color: black;
}

/* Spinner */

.spinner-box {
	margin: auto;
}

.three-quarter-spinner {
	width: 50px;
	height: 50px;
	border: 3px solid var(--clr-green);
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}
