.auth {
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-form-container {
	padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	background: white;
	border: 0.5px solid var(--clr-grey);
	border-radius: 0.5rem;
}

.auth-form {
	min-width: 400px;
	margin-top: 0.5rem;

	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 1rem;
}

.auth-form .pw-reset-link {
	font-weight: 500;
}

.auth-form input {
	padding: 1rem;

	border: 0.5px solid var(--clr-grey);
	border-radius: 0.5rem;
}

.auth-form input:focus-visible {
	outline: none;
}

.auth-form .button-row {
	margin-top: 0.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.auth-form .button-row > * {
	flex-basis: 100%;
}

.auth-form a {
	color: var(--clr-blue);
}

.input-container {
	position: relative;
}

.input-container input {
	width: 100%;
}

.form-error {
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0.25rem 0;

	line-height: 1rem;
	font-size: 0.75rem;
}
