.coin-list-item {
	display: flex;
	padding: 1rem;
	border-top: 0.5px solid var(--clr-grey);

	/* transition: padding 0.2s ease; */
}

.coin-list a:nth-child(2) {
	border-top: none;
}

.coin-list-item:hover {
	background: var(--bg-blue);
	/* padding: 1.25rem 1rem; */
}

.coin-list-item .col {
	/* width: 20%; */
	flex-basis: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	display: flex;
	justify-content: flex-end;
}

.coin-list-item span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coin-list-item .link-col {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.coin-list-item-span,
.link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coin-list-item .link-col {
	display: flex;
	justify-content: left !important;
	align-items: center;
}

.hidden {
	display: none;
}

@media (max-width: 600px) {
	.coin-list-item :is(.vol-col, .mcap-col, .hr-col) {
		display: none;
	}

	.coin-list-header {
		padding: 1rem 0 !important;
	}

	.coin-list-item {
		padding: 1rem 0 !important;
	}
}

@media (max-width: 900px) {
	.coin-list-item .weekly-col {
		display: none;
	}
}

.neg-change {
	color: var(--clr-sell);
}

.pos-change {
	color: var(--clr-buy);
}
