.coin-list-item {
	display: flex;
	padding-top: 1rem;
	border-top: 0.5px solid var(--clr-grey);
}

/* .coin-list-item:hover {
	box-shadow: rgb(125 132 153 / 4%) 0px 2px 4px 0px,
		rgb(125 132 153 / 20%) 0px 4px 18px 0px;
	transform: scale(1.03);
	transition: transform 0.3s ease 0s, box-shadow 0.3s ease 0s;
	z-index: 5;
} */

.coin-list-item .col {
	width: 20%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	display: flex;
	justify-content: end;
}

.coin-list-item span {
	/* max-width: 95%; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coin-list-item a {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.coin-list-item-span,
.link {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.coin-list-item a:hover {
	color: var(--clr-grey);
}

.coin-list-item .link-col {
	display: flex;
	justify-content: left !important;
	align-items: center;
}

@media (max-width: 600px) {
	.coin-list-item .link span {
		display: none;
	}

	.coin-list-item .link-col {
		width: 12% !important;
	}

	.coin-list-item .col {
		width: 22%;
	}
}

.neg-change {
	color: red;
}

.pos-change {
	color: green;
}
