.coin-view {
	width: 100%;
	max-width: 1200px;
	padding: 3rem 1rem 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.detail-row {
	width: 100%;
	margin-bottom: 2rem;

	display: flex;
	flex-direction: row;

	border: 0.75px solid var(--grey-border);
	background-color: white;
}

.detail-row > div {
	flex: 1;
}

.detail-row .header-col {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 1rem;
}

.detail-row .header-col img {
	width: 50px;
	height: 50px;
}

.detail-row .title {
	font-weight: bold;
}

.detail-row .subtitle {
	color: var(--clr-grey);
}

.detail-row .col:nth-child(n + 2) {
	border-left: 1px solid var(--grey-border);
}

.detail-row .col {
	padding: 1rem 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: end;
}

.detail-row .title {
	font-weight: bold;
}

.detail-row .meta {
	width: 100%;
	text-align: center;
}

.embed-container {
	padding: 0 1rem;
}

#tradingview_929ec {
	width: 100%;
}

.tickr-row {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.tickrs {
	display: flex;
	flex-wrap: wrap;

	padding: 0 1rem 1rem;
	border: 0.75px solid var(--grey-border);
	background: white;
}

.tickrs > .header {
	width: 100%;
	padding: 2rem 1rem;

	font-size: 1.5rem;
	border-bottom: 1px solid var(--grey-border);
}

.tickr-item {
	width: 32%;
	margin-right: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem;
	border-top: 1px solid var(--grey-border);
	cursor: pointer;
}

.tickr-item:hover {
	background: var(--bg-blue);
}

:is(.tickrs .tickr-item:nth-child(1), .tickrs .tickr-item:nth-child(2), .tickrs
		.tickr-item:nth-child(3), .tickrs .tickr-item:nth-child(4)) {
	border-top: none;
}

.tickrs .tickr-item:nth-child(3n + 1) {
	margin-right: 0;
}

.tickr-item > *:nth-child(2) {
	margin-right: auto;
	margin-left: 1rem;
}

.tickr-item > *:nth-child(3) {
	text-align: right;
}

.tickr-item .title {
	font-weight: bold;
}

.tickr-item .subtitle {
	color: var(--clr-grey);
}

.tickr-item img {
	width: 50px;
	height: 50px;
}

@media (max-width: 1200px) {
	.detail-row .col {
		/* flex-grow: 1; */
		padding: 1rem 0;
	}
}

@media (max-width: 900px) {
	.detail-row .col:nth-child(n + 5) {
		display: none;
	}

	.tickrs .tickr-item {
		width: 48%;
	}

	.tickrs .tickr-item:nth-child(2n + 0) {
		margin-right: 2%;
	}

	.tickrs .tickr-item:nth-child(4) {
		border-top: 1px solid var(--grey-border);
	}
}

@media (max-width: 600px) {
	.detail-row .col:nth-child(n + 4) {
		display: none;
	}

	.detail-row > div {
		padding: 1rem !important;
		flex-basis: 100% !important;
		/* width: 33.33%; */
	}

	.header-col {
		gap: 0.5rem !important;
	}

	.tickrs .tickr-item {
		width: 100%;
		margin-right: 0 !important;
	}

	.tickrs :is(.tickr-item:nth-child(3)) {
		border-top: 1px solid var(--grey-border);
	}

	#tradingview_929ec {
		display: none;
	}
}

.description-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	padding: 2rem;
	border: 0.75px solid var(--grey-border);
	background: white;
}

.description-row span:nth-child(1) {
	font-size: 1.5rem;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
