.coin-list-item {
}

.coin-list-item a {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: bold;
}

.coin-list-item a:hover {
	color: var(--clr-grey);
}

.neg-change {
	color: red;
}

.pos-change {
	color: green;
}
