.coin-view {
	width: 100%;
	max-width: 1200px;
	padding: 3rem 1rem 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.coin-view > header > img {
	width: 60px;
	height: 60px;
}

.coin-view header {
	margin-bottom: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.coin-view header .title {
	font-size: 2rem;
	font-weight: bold;
}

.coin-view header .subtitle {
	font-size: 1.5rem;
	color: var(--clr-grey);
}

.detail-row {
	display: flex;
	flex-direction: row;

	border: 1px solid var(--grey-border);
	background-color: white;
}

.detail-row .title {
	font-weight: bold;
}

.detail-row .col:nth-child(n + 2) {
	border-left: 1px solid var(--grey-border);
}

.detail-row .col {
	padding: 1rem 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: end;
	gap: 0.25rem;
}

.detail-row .title {
	font-weight: bold;
}

.detail-row .meta {
	width: 100%;
	text-align: center;
}

.embed-container {
	padding: 0 1rem;
}

#tradingview_929ec {
	width: 100%;
}

.tickr-row {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.tickrs > .header {
	width: 100%;
	padding: 1rem;

	/* font-weight: 500; */
	font-size: 2rem;
}

.tickrs {
	display: flex;
	flex-wrap: wrap;

	padding: 1rem;
	border: 0.75px solid var(--grey-border);
	background: white;
}

.tickr-item {
	width: 32%;
	margin-right: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 1rem;
	border-top: 1px solid var(--grey-border);
	cursor: pointer;
}

.tickr-item:hover {
	background: var(--bg-grey);
}

:is(.tickrs .tickr-item:nth-child(1), .tickrs .tickr-item:nth-child(2), .tickrs
		.tickr-item:nth-child(3), .tickrs .tickr-item:nth-child(4)) {
	border-top: none;
}

.tickrs .tickr-item:nth-child(3n) {
	margin-right: 0;
}

.tickr-item > *:nth-child(2) {
	margin-right: auto;
	margin-left: 1rem;
}

.tickr-item > *:nth-child(3) {
	text-align: right;
}

.tickr-item .title {
	font-weight: bold;
}

.tickr-item .subtitle {
	color: var(--clr-grey);
}

.tickr-item img {
	width: 50px;
	height: 50px;
}

@media (max-width: 1000px) {
	/* .detail-row .col:nth-child(n + 4) {
		display: none;
	} */
	.detail-row {
		width: 100%;
	}
	.detail-row .col {
		flex-grow: 1;
		padding: 1rem 0;
	}
}

@media (max-width: 600px) {
	.detail-row .col:nth-child(n + 4) {
		display: none;
	}

	#tradingview_929ec {
		display: none;
	}
}

.description-row {
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description-row span:nth-child(1) {
	font-weight: bold;
	font-size: 2rem;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
