.coin-view {
	width: 100%;
	max-width: 1200px;
	padding: 3rem 1rem 1rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.coin-view header {
	display: flex;
	align-items: center;
	gap: 1rem;

	font-size: 2rem;
	font-weight: bold;
}

.detail-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.detail-row .header {
	font-weight: bold;
	font-size: 1.5rem;
}

.detail-row .list {
	display: flex;
	gap: 2rem;
}

@media (max-width: 600px) {
	.detail-row .list {
		justify-content: space-between;
	}
}

.detail-row .col {
	width: 5rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.detail-row .title {
	color: var(--clr-grey);
}

.ticker-row {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.ticker-row .header {
	display: flex;
	justify-content: center;

	font-size: 1.5rem;
	font-weight: bold;
}

.ticker-row .title {
	color: var(--clr-grey);
}

.tickers {
	display: inline-flex;
	flex-wrap: wrap;
	/* gap: 2rem; */
}

/* .ticker-title {
	width: 10%;
} */

.tickers .col,
.ticker-title {
	/* width: 16.666%; */
	width: 10%;
	padding-bottom: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1000px) {
	.tickers .col,
	.ticker-title {
		width: 16.666%;
	}
}

@media (max-width: 600px) {
	.tickers .col,
	.ticker-title {
		width: 33%;
	}
}

.description-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: -1rem;
}

.description-row span:nth-child(1) {
	/* color: var(--clr-grey); */
	font-weight: bold;
	font-size: 1.5rem;
}
