.home-container {
	display: flex;
	justify-content: center;
}

.home {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	width: 100%;
	max-width: 1200px;
	padding: 3rem 0 1rem;
}

.home .header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.home .header span:nth-child(2) {
	font-size: 1.25rem;
	color: var(--clr-grey);
	font-weight: normal;
}

.coin-list {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	/* gap: 1rem; */

	border: 0.5px solid var(--clr-grey);
	border-radius: 0.5rem;
	background-color: white;
}

.coin-list-header {
	position: relative;

	padding: 1rem;

	display: flex;
	flex-direction: row;

	font-weight: bold;
	background: white;
	border-bottom: 0.5px solid var(--clr-grey);
}

@supports (position: sticky) {
	.coin-list-header {
		position: sticky;
		position: -moz-sticky;
		position: -webkit-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		top: 0;
	}
}

.coin-list-header .col {
	flex-basis: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	display: flex;
	justify-content: right;
}

.coin-list-header .link-col {
	justify-content: left !important;
	gap: 1rem;
	/* padding-left: calc(1rem + 25px); */
}

.coin-list-header .icon-holder {
	width: 25px;
}

@media (max-width: 600px) {
	/* .coin-list-header .col {
		width: 22%;
	}

	.coin-list-header .link-col {
		width: 12%;
	} */

	.coin-list-header .daily-col {
		display: none;
	}

	.coin-list-header .link-col .icon-holder {
		display: none;
	}
}

@media (max-width: 900px) {
	.coin-list-header .weekly-col {
		display: none;
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: center;
	gap: 0.5rem;

	margin-top: 1rem;
	font-size: 1rem;
}

.pagination button {
	background-color: inherit;
	border: inherit;
	cursor: pointer;
}

.pagination select {
	padding: 0 1rem;

	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
}

.pagination .active {
	font-weight: bold;
}

.pagination .page-button {
	padding: 0 1rem;
	/* height: 30px; */
	/* display: inline-block; */
	/* padding: 1rem; */

	background: white;
	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
	cursor: pointer;
}
