.home-container {
	display: flex;
	justify-content: center;
}

.home {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	width: 100%;
	max-width: 1200px;
	padding: 3rem 1rem 1rem;
}

.home .header {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* gap: 1rem; */

	text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

.home .header span:nth-child(2) {
	font-size: 1.25rem;
	color: var(--clr-grey);
	font-weight: normal;
}

.home .trending-row {
	/* padding: 0 0.5rem; */

	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

.trending-card {
	flex-basis: 100%;

	display: flex;
	flex-direction: column;
}

.trending-card .title {
	margin-bottom: 0.5rem;

	display: flex;
	align-items: center;
	gap: 0.5rem;

	font-size: 1.25rem;
	font-weight: 500;
}

.trending-card .list {
	padding-top: 0.5rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	border-top: 1px solid var(--grey-border);
}

.trending-card .item {
	display: flex;
	justify-content: space-between;
}

.trending-card .coin-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.trending-card img {
	border-radius: 50%;
}

.trending-card span {
	color: var(--clr-grey);
}

.coin-list {
	display: flex;
	flex-direction: column;

	border-top: 1px solid var(--grey-border);
}

.coin-list-header {
	position: relative;

	padding: 0.5rem;

	display: flex;
	flex-direction: row;

	font-weight: bold;
	background: white;
	border-bottom: 1px solid var(--grey-border);
}

@supports (position: sticky) {
	.coin-list-header {
		position: sticky;
		position: -moz-sticky;
		position: -webkit-sticky;
		position: -ms-sticky;
		position: -o-sticky;
		top: 0;
	}
}

.coin-list-header .col {
	flex-basis: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	display: flex;
	justify-content: right;
	align-items: center;
	gap: 0.5rem;

	cursor: pointer;
}

.coin-list-header .link-col {
	justify-content: left !important;
	gap: 1rem;

	cursor: default;
}

.coin-list-header .icon-holder {
	width: 25px;
}

.coin-list .price-col {
	cursor: default !important;
}

.coin-list-header .hidden {
	/* opacity: 0; */
	display: none;
}

@media (max-width: 600px) {
	.coin-list-header :is(.vol-col, .mcap-col, .hr-col) {
		display: none;
	}

	.home .trending-row {
		display: none;
	}
}

@media (max-width: 900px) {
	.coin-list-header .weekly-col {
		display: none;
	}

	/* .home .trending-row {
		flex-wrap: wrap;
		gap: 1rem;
	} */
}

.pagination-container {
	display: flex;
}

.pagination {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-between;
	gap: 0.5rem;

	margin-top: 1rem;
	font-size: 1rem;
}

.pagination .top-button {
	padding: 0.25rem 1rem;
	background: white;
	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
	cursor: pointer;
}

.pagination .top-button:hover {
	color: black;
	border-color: black;
}

.pagination .page-buttons {
	display: flex;
	gap: 0.5rem;
}

.pagination button {
	background-color: inherit;
	border: inherit;
	cursor: pointer;
}

.pagination button:hover {
	color: var(--clr-grey);
}

.pagination .page-button {
	padding: 0.25rem 1rem;

	background: white;
	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
	cursor: pointer;
}

.pagination .page-button:hover {
	font-weight: bold;
	border-color: black;
}

.pagination .active {
	font-weight: bold;
	border-color: black;
	cursor: inherit;
}

.pagination select {
	padding: 0.25rem 1rem;

	border: 1px solid var(--grey-border);
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
}

.pagination select:hover {
	border-color: black;
}

@media (max-width: 600px) {
	.pagination {
		padding: 0 0.5rem;
	}
	.pagination .page-scroll-button {
		display: none;
	}
}
