.form-div .assets-header {
	display: flex;
	justify-content: space-between;
}

.assets-header > div {
	display: flex;
	flex-direction: column;
}

.assets-header > div:last-child {
	text-align: right;
}

.assets-header > div:first-child > div:last-child {
	color: var(--clr-grey);
}

.assets-header-title {
	font-weight: 500;
}
